@import url('https://fonts.googleapis.com/css?family=Poppins:100,300,400,500,600,700,800, 800i, 900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
body::-webkit-scrollbar{
  display: none;
}
.schedule-section{
 margin-top: 70px;
}
.schedule-section .section-padding{
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
}
#myBtnContainer{
  padding-top: 50px;
  padding-bottom: 50px;
}
.filterDiv {
  display: none;
  background-color: #2196F3;
  color: #ffffff;
}
.show {
  display: block;
}
.btn-cat {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

.btn-cat:hover {
  background-color: #ddd;
}

.btn-cat.active {
  background-color: #666;
  color: white;
}
@media(max-width:900px){
    .container{
        flex-direction: column;
    }
}
.card {
    background-color: rgba(255,255,255,.05);
  width: 290px;
  height: 354px;
  transition: all 0.2s;
  position: relative;
  cursor: pointer;
}

.card-inner {
  width: inherit;
  height: inherit;
  background: rgba(255,255,255,.05);
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
  backdrop-filter: blur(10px);
  border-radius: 8px;
}

.card:hover {
  transform: scale(1.04) rotate(1deg);
}

.circle {
  width: 100px;
  height: 100px;
  background: radial-gradient(rgb(238,80,7), rgb(238,80,7));
  border-radius: 50%;
  position: absolute;
  animation: move-up6 2s ease-in infinite alternate-reverse;
}

.circle:nth-child(1) {
  top: -25px;
  left: -25px;
}

.circle:nth-child(2) {
  bottom: -25px;
  right: -25px;
  animation-name: move-down1;
}

.card-inner span{
    color: black;
    font-size: 20px;
}
.button-buy {
    --width: 100px;
    --height: 35px;
    --tooltip-height: 35px;
    --tooltip-width: 90px;
    --gap-between-tooltip-to-button: 18px;
    --button-color: #222;
    --tooltip-color: #fff;
    width: var(--width);
    height: var(--height);
    background: var(--button-color);
    position: relative;
    text-align: center;
    border-radius: 0.45em;
    font-family: "Arial";
    transition: background 0.3s;
  }
  
  .button-buy::before {
    position: absolute;
    content: attr(data-tooltip);
    width: var(--tooltip-width);
    height: var(--tooltip-height);
    background-color: #555;
    font-size: 0.9rem;
    color: #fff;
    border-radius: .25em;
    line-height: var(--tooltip-height);
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
    left: calc(50% - var(--tooltip-width) / 2);
  }
  
  .button-buy::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: #555;
    left: calc(50% - 10px);
    bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
  }
  
  .button-buy::after,.button-buy::before {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
  }
  
  .text-buy {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button-wrapper-buy,.text-buy,.icon-buy {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    color: #fff;
  }
  
  .text-buy {
    top: 0
  }
  
  .text-buy,.icon-buy {
    transition: top 0.5s;
  }
  
  .icon-buy {
    color: #fff;
    top: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .icon-buy svg {
    width: 24px;
    height: 24px;
  }
  
  .button-buy:hover {
    background: #222;
  }
  
  .button-buy:hover .text-buy {
    top: -100%;
  }
  
  .button-buy:hover .icon-buy {
    top: 0;
  }
  
  .button-buy:hover:before,.button-buy:hover:after {
    opacity: 1;
    visibility: visible;
  }
  
  .button-buy:hover:after {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
  }
  
  .button-buy:hover:before {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
  }
  
@keyframes move-up6 {
  to {
    transform: translateY(-10px);
  }
}

@keyframes move-down1 {
  to {
    transform: translateY(10px);
  }
}

